$width-sm: 320px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1440px;

$color-white: #FFFFFF;
$color-dark-grey: #5B5B5B;
$color-grey: #929292;
$color-light-grey: #F5F5F5;
$color-coral: #E36161;
$color-blue: #1CBDE7;


