@use "./variables" as variable;

html {
  height: 100%;
  overflow-y: scroll;  //  чтобы не скакала страница при появлении вертикального скролла
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: variable.$color-dark-grey;
  font-size: 18px;
  background-color: variable.$color-white;
  box-sizing: border-box;
}

body, div, h1, h2,h3,h4,h5, p, ul, li{
  margin: 0;
  padding: 0;
  color: variable.$color-dark-grey;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

.main {
  flex: 1 0 auto; // Для прижатия Футера к низу
}

.hidden {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.container {
  width: 100%;
  max-width: variable.$width-xl;
  margin: 0 auto;
}

.title {
  font-size: 80px;
  color: variable.$color-blue;
}

.subtitle {
  text-transform: uppercase;

  &--red {
    color: variable.$color-coral;
  }
}

