@use "../styles/variables" as variable;

.home{}

.subtitle {
  margin-bottom: 48px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    position: relative;
    top: 1px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    background-image: url("../../public/images/icons/location-point-icon.svg");
  }
}

.red {
  color: variable.$color-coral;
}